body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 406vw;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

#navigationBar, footer{
	background-image: linear-gradient(20deg,#000000,#444444);
}

#navigationBar{
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	z-index: 9999;
	opacity: 0.9;
	display: table;
}

#navigationBar > div {
	height: 100%;
}

#logo{
	background: url("file:///Users/Eddy/Desktop/LookFwd/assets/img/logo.png") no-repeat center center;
	background-size: 150px auto;
	width: 200px;
	height: 60px;
	display: table-cell;
	cursor:pointer;
}

.dropdown{
	height: 60px;
	width: 90px;
	position: absolute;
	right: 0;
	display: table-cell;
}

.dropdown a{
	display: table;
	height: 100%;
	/*background: #111111;*/
	padding: 20px 30px;
}

.dropdown .menu-links{
	position: relative;
	left: -9999px;
}

#menu-button{
	position: absolute;
	width: 30px;
	border: 2px solid #fff;
	border-radius: 2px;
	box-shadow: 0 0 7px rgba(0,0,0,0.5);
	top: 50%;
	height: 0;
	margin-top: -2px;
}

#menu-button:before{
	position: absolute;
	width: 30px;
	border: 2px solid #fff;
	border-radius: 2px;
	box-shadow: 0 0 7px rgba(0,0,0,0.5);
	top: -11px;
	left: -2px;
	height: 0;
	content: "";
}

#menu-button:after{
	position: absolute;
	width: 30px;
	border: 2px solid #fff;
	border-radius: 2px;	
	box-shadow: 0 0 7px rgba(0,0,0,0.5);
	top: 7px;
	left: -2px;
	height: 0;
	content: "";
}

section{
	position: relative;
	top: 60px;
}

.page{
	display: table;
	margin: auto;
	width: 100%;
	height: 100vw;
}

.featurette-text{
	margin: auto;
	vertical-align: middle;
	text-align: center;
	display: block;
	width: 100%;

	margin-top:140px;
}

.page-heading{
	font-size: 50px;
	font-weight: 200;
	line-height: 1;
	letter-spacing: -1px;
}

hr{
	margin: 20px 0;
	border: 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #ffffff;
}

.page header p{
	font-weight: 200;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 1.5;
	text-align: left;
	margin: 0 auto 20px auto;
	padding-left: 100px;
	padding-right: 100px;
}

#home-page{
	background: url("file:///Users/Eddy/Desktop/LookFwd/assets/img/homescreen_background.jpg") no-repeat center center;
	background-size: 100%;
	background-attachment: fixed;
}

#about-page{
	background: black;
	color:white;
}

#how-to-use-page{

}

#power-page{
	background: url("file:///Users/Eddy/Desktop/LookFwd/assets/img/power_background.jpg") no-repeat center center;
	background-size: 100%;
	background-attachment: fixed;
}

.page-content{
	width: 80%;
	margin: auto;
}

#power-content{
	color: white;
	background-color: #28d8b3;
	padding-top: 30px;
	padding-bottom: 30px;
	opacity: 0.9;
}

#about-content{
	background-color: #28d8b3;
	padding-top: 30px;
	padding-bottom: 30px;
	opacity: 0.9;
}

#how-to-use-page{
	background-color: aquamarine;
	color:white;
}

#use-content, .page-content{
	width: 90%;
}

.set-image{
	height:150px;
	width:150px;
	display: table;
	margin: 0 auto;
	background-size: 100%;
}

#holding-hands-image{
	background: url("file:///Users/Eddy/Desktop/LookFwd/assets/img/power_image.png") no-repeat center center;

}

.step-container{
	float: left;
	width: 50%;
}

.step-text{
	padding-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
}

#step-1{
	background: url("file:///Users/Eddy/Desktop/LookFwd/assets/img/step1.png") no-repeat center center;
	width:100%;
	height:300px;
}

#step-2{
	background: url("file:///Users/Eddy/Desktop/LookFwd/assets/img/step2.png") no-repeat center center;
	width:100%;
	height:300px;
}

footer{
	position: relative;
	bottom: 0;
	top: 60px;
	padding: 50px 70px 50px 70px;
	font-size: 12px;
}